@use "sass:color";

@mixin generate_button_colors($name, $hex) {

  $buttons: (
    ".btn",
    "button",
    "input[type=submit]",
  );

  @each $button in $buttons {
    #{$button}.#{$name} {
      @include text-contrast($hex);
      background: $hex;
      border-color: $hex;

      &:hover,
      &:focus {
        @include text-contrast($hex);
        background: color.adjust($hex, $lightness: 10%);
        border-color: color.adjust($hex, $lightness: 10%);
      }
    }

    #{$button}.#{$name}.inverted {
      @include text-contrast($hex);
      background: transparent;
      border-color: $hex;

      &:hover,
      &:focus {
        @include text-contrast($hex);
        background: #{$hex};
        border-color: #{$hex};
      }
    }

    @media screen {
      *:not(.bg-#{$name}) #{$button}.#{$name} {
        @include text-contrast($hex);
        background-color: $hex;
        border-color: $hex;

        &:hover,
        &:focus {
          @include text-contrast($hex);
          background-color: color.adjust($hex, $lightness: 10%);
          border-color: color.adjust($hex, $lightness: 10%);
        }
      }

      .bg-#{$name} #{$button}.#{$name} {
        @include text-contrast($hex);
        background: white;
        border-color: white;

        &:hover,
        &:focus {
          @include text-contrast($hex);
          background: transparent;
          border-color: white;
        }
      }
    }
  }
}
