.section-badegg-wysiwyg {
  container-name: WYSIWYG;
  container-type: inline-size;

  .main-wysiwyg {
    @container WYSIWYG (min-width: #{$screen-lg}) {
      font-size: 1.25em;
    }
  }

  .section-intro { padding-bottom: $sectionSmall; }
  .section-footer { padding-top: $sectionSmall; }
}
