@use "sass:color";

//== Status
$success:             #39b54a;
$error:               #be1e2d;
$alert:               #eed202;

//== Brand Colours
$primary:             #2f4976;
$secondary:           #a094b1;
$tertiary:            #f58762;
$quaternary:          invert($primary);
$quinary:             invert($secondary);

//== Primary Tints
$primary-darkest:     #001427;
$primary-darker:      #001930;
$primary-dark:        #001E3B;
$primary-light:       #324F6C;
$primary-lighter:     #5A7289;
$primary-lightest:    #7A8EA0;

//== Secondary Tints
$secondary-darkest:   #8B2E22;
$secondary-darker:    #A9382A;
$secondary-dark:      #CE4433;
$secondary-light:     #FC7564;
$secondary-lighter:   #FD9082;
$secondary-lightest:  #FEA69B;

//== Tertiary Tints
$tertiary-darkest:    #8B7401;
$tertiary-darker:     #AA8E01;
$tertiary-dark:       #CFAD01;
$tertiary-light:      #FEDC33;
$tertiary-lighter:    #FEE35B;
$tertiary-lightest:   #FEED95;

//== quaternary Tints
$quaternary-darkest:  #454B73;
$quaternary-darker:   #545C8C;
$quaternary-dark:     #6670AB;
$quaternary-light:    #99A7FF;
$quaternary-lighter:  #C2CEFF;
$quaternary-lightest: #E0E6FF;

//== quaternary Tints
$quinary-darkest:     #FF702A;
$quinary-darker:      #FFA968;
$quinary-dark:        #FFC693;
$quinary-light:       #FFE8CF;
$quinary-lighter:     #FFF7EE; // empathetic white
$quinary-lightest:    #FFFBF6;

//== Shades
$white:               white;
$grey-lightest:       #EBEBE4;
$grey-lighter:        #D3D3CC;
$grey-light:          #B1B1A7;
$grey:                #919087;
$grey-dark:           #69665B;
$grey-darker:         #414039;
$grey-darkest:        #212019;
$black:               black;

//## Colour Array (used in generating colour classes).
$colors: (
  // shades
  "black":     $black,
  "grey-darkest": $grey-darkest,
  "grey-darker": $grey-darker,
  "grey-dark": $grey-dark,
  "grey-light": $grey-light,
  "grey-lighter": $grey-lighter,
  "grey-lightest": $grey-lightest,
  "white":     $white,
  // status
  "error":      $error,
  "success":    $success,
  "alert":      $alert,
  // brand
  "primary":    $primary,
  "secondary":  $secondary,
  "tertiary":   $tertiary,
  "quaternary":   $quaternary,
  "quinary":   $quinary,
  // primary tints
  "primary-darkest":  $primary-darkest,
  "primary-darker":   $primary-darker,
  "primary-dark":     $primary-dark,
  "primary-light":    $primary-light,
  "primary-lighter":  $primary-lighter,
  "primary-lightest": $primary-lightest,
  // secondary tints
  "secondary-darkest":  $secondary-darkest,
  "secondary-darker":   $secondary-darker,
  "secondary-dark":     $secondary-dark,
  "secondary-light":    $secondary-light,
  "secondary-lighter":  $secondary-lighter,
  "secondary-lightest": $secondary-lightest,
  // tertiary tints
  "tertiary-darkest":  $tertiary-darkest,
  "tertiary-darker":   $tertiary-darker,
  "tertiary-dark":     $tertiary-dark,
  "tertiary-light":    $tertiary-light,
  "tertiary-lighter":  $tertiary-lighter,
  "tertiary-lightest": $tertiary-lightest,
  // tertiary tints
  "quaternary-darkest":  $quaternary-darkest,
  "quaternary-darker":   $quaternary-darker,
  "quaternary-dark":     $quaternary-dark,
  "quaternary-light":    $quaternary-light,
  "quaternary-lighter":  $quaternary-lighter,
  "quaternary-lightest": $quaternary-lightest,
  // quinary tints
  "quinary-darkest":  $quinary-darkest,
  "quinary-darker":   $quinary-darker,
  "quinary-dark":     $quinary-dark,
  "quinary-light":    $quinary-light,
  "quinary-lighter":  $quinary-lighter,
  "quinary-lightest": $quinary-lightest,
);
