@import "framework/breakpoints";
@import "framework/normalise";
@import "framework/colours";
@import "framework/spacing";

.socials {
  font-size: 1.5em;

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 0.125em;
  }
}
